.wrapper-all{
  padding:10px;
  height:100%;
}
.r-padding{
  padding:10px;
}
.wrapper {
  height: 100vh;
}
.loading{
  height:50vh;
}
table {
  width: 100%;
  table-layout: fixed;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

.col-sm {
  width: 70px;
}
.mat-cell {
  font-size: 10px;
}
.map-wrapper{
  height:100%;
  width:100%;
}
